/* STATS - STATS.PHP*/


table.stat-wrap {
	border-top:1px solid #666666;
	border-right:1px solid #666666;
	border-left:1px solid #666666;
	font-family:verdana,arial,sans-serif;
	font-size:15px;
	width:266px;
}

th.stat-header {
	height:17px;
	font-weight:bold;
	border-bottom:1px solid #666666;
	font-size:12px;
	padding-top:1px;
	padding-bottom:2px;
	/*background-color:#C4D1D7;*/
	background:url(http://www.zenos.dk/jkk2/image/top_bar.jpg);
	color:#333333;
	letter-spacing:1px;
}

td.stat-col-name {
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	width:101px;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	padding:2px;
	/*background-color:#f1f1f1;*/
	background:url(http://www.zenos.dk/jkk2/image/bg.gif);
	text-align:center;
}

td.stat-col-value1 {
	width:55px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	text-align:center;
	padding:2px;
	/*background-color:#f1f1f1;*/
	background:url(http://www.zenos.dk/jkk2/image/bg.gif);
}

td.stat-col-value2 {
	width:55px;
	border-bottom:1px solid #999999;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	text-align:center;
	padding:2px;
	/*background-color:#f1f1f1;*/
	background:url(http://www.zenos.dk/jkk2/image/bg.gif);
}

td.stat-item-name {
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	width:95px;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	padding:2px;
	/*background-color:#f1f1f1;*/
}

td.stat-item-value1 {
	width:55px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	text-align:right;
	padding:2px;
}

td.stat-item-value2 {
	width:55px;
	border-bottom:1px solid #999999;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	text-align:right;
	padding:2px;
}


/* UPDATE - STATS.PHP */

table.update-wrap {
	border-top:1px solid #666666;
	border-right:1px solid #666666;
	border-left:1px solid #666666;
	font-family:verdana,arial,sans-serif;
	width:266px;
}

th.update-header {
	height:17px;
	font-weight:bold;
	border-bottom:1px solid #666666;
	font-size:12px;
	padding-top:1px;
	padding-bottom:2px;
	/*background-color:#C4D1D7;*/
	background:url(http://www.zenos.dk/jkk2/image/top_bar.jpg);
	color:#333333;
	letter-spacing:1px;
}

td.update-item-date {
	width:75px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #999999;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	padding:2px;
	text-align:center;
	color:#666666;
}

td.update-item-book {
	border-bottom:1px solid #999999;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	text-align:left;
	padding:2px;
	padding-left:4px;
}




/* DAILY HISTORY */

th.daily-history-header {
	font-weight:bold;
	font-size:12px;
	padding-top:1px;
	padding-bottom:2px;
	background-color:#C4D1D7;
	color:#333333;
	letter-spacing:1px;
}

td.daily-history-date {
	width:70px;
	vertical-align:top;
	text-align:left;
	padding:2px;
	font-size:12px;
	color:#666666;
	border-top:1px solid #999999;
}

td.daily-history-event {
	vertical-align:top;
	text-align:left;
	padding:2px;
	font-size:12px;color:#333333;
	border-top:1px solid #999999;
}




