
/* FRONTPAGE */

div.song-front-wrap {
	padding-top:14px;
	padding-left:13px;
	padding-bottom:14px;
	border-bottom:1px solid #333333;
}

td.song-front-text-wrap {
	vertical-align:top;
	width:266px;
	text-align:justify;color:#333333;
	font-size:13px;
}

img.song-front {
	border:none;
	width:266px;
	height:149px;
}

td.song-front-navigation {
	vertical-align:top;
	width:266px;
	text-align:justify;
	color:#333333;
	font-size:13px;
}

td.song-pane-width {
	vertical-align:top;
	width:266px;
}


/**/

div.song-book-song {
	padding-top:14px;
	padding-bottom:6px;
	padding-left:12px;
	text-align:left;
}


table.song {
	width:410px;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	margin-left:0;
}

td.song-item-label {
	text-align:left;
	background-color:#f3f3f6;
	font-size:13px;
	width:110px;
	height:21px;
	padding:1px 1px 1px 4px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

td.song-item-value {
	width:300px;
	text-align:left;
	font-size:13px;
	padding:1px 6px 1px 6px;
	height:21px;
	border-bottom:1px solid #cccccc;
}

td.song-item-text-label {
	text-align:left;
	background-color:#ffffff;
	vertical-align:top;
	height:21px;
	font-size:13px;
	width:110px;
	padding:8px 2px 2px 4px;
	border-right:1px solid #333333;
}

td.song-item-text-value {
	width:300px;
	text-align:left;
	vertical-align:top;
	height:21px;
	font-size:13px;
	padding:0px 8px 8px 8px;
}

/* AUTHOR */

div.author-info {
	text-align:left;
	padding-top:14px;
	padding-bottom:6px;
	padding-left:12px;
}

table.author {
	width:410px;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	margin-left:0;

}

td.author-item-label {
	text-align:left;
	background-color:#f3f3f6;
	font-size:13px;
	width:110px;
	height:21px;
	padding:2px 2px 2px 4px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

td.author-item-value {
	text-align:left;
	font-size:13px;
	padding:2px 2px 2px 6px;
	height:21px;
	border-bottom:1px solid #cccccc;
}

span.author-song-list-header {
	font-size:15px;
	font-weight:bold;
	color:#000000;
	padding:2px;
}

div.author-song-list {
	padding-top:0px;
	padding-bottom:6px;
	padding-left:12px;
}

td.author-song-list-item-role {
	text-align:right;
	padding:3px 6px 2px 2px;
	color:#666666;
	font-size:13px;
}

td.author-song-list-item-name {
	text-align:left;
	padding:3px 2px 2px 4px;
}


/* LIST */

table.list-wrap {
	border-top:1px solid #666666;
	border-right:1px solid #666666;
	border-left:1px solid #666666;
	font-family:verdana,arial,sans-serif;
	width:266px;
}

th.list-header {
	font-weight:bold;
	border-bottom:1px solid #666666;
	font-size:12px;
	padding-top:1px;
	padding-bottom:2px;
	background:url(http://www.zenos.dk/jkk2/image/top_bar.jpg);
	/*background-color:#C4D1D7;*/
	color:#333333;
	letter-spacing:1px;
}

td.list-item-label {
	text-align:left;
	width:75px;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	padding:2px;
	text-align:left;
	color:#666666;
}

td.list-item-value {
	text-align:left;
	border-bottom:1px solid #666666;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	text-align:left;
	padding:2px;
	padding-left:4px;
}
